<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# Assignment:

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing. Make sure you understand each line of code that you're writing, google things that you don't fully understand.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.
- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
# importing the relevant libraries that are going to be needed during this notebook: 

import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
#storing the URL of the dataset prior to sanitizing the data. 
Lecture_URL = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv'
#reading in the url to to the read_csv function of pandas df.
lecture_df =  pd.read_csv(Lecture_URL)
#visualizing the first 10 rows of data in the lecture DF. 
lecture_df.head(10)

   Id  MSSubClass MSZoning  ...  SaleType  SaleCondition SalePrice
0   1          60       RL  ...        WD         Normal    208500
1   2          20       RL  ...        WD         Normal    181500
2   3          60       RL  ...        WD         Normal    223500
3   4          70       RL  ...        WD        Abnorml    140000
4   5          60       RL  ...        WD         Normal    250000
5   6          50       RL  ...        WD         Normal    143000
6   7          20       RL  ...        WD         Normal    307000
7   8          60       RL  ...        WD         Normal    200000
8   9          50       RM  ...        WD        Abnorml    129900
9  10         190       RL  ...        WD         Normal    118000

[10 rows x 81 columns]

In [7]:
#tells pandas DF to set the max display of rows to 12 in this instance. 
pd.set_option('display.max_rows', 12)
#this tests the above code -- in that when you try to see "dtypes" of the lecture df you will only see 12 rows of data. 
lecture_df.dtypes

Id                 int64
MSSubClass         int64
MSZoning          object
LotFrontage      float64
LotArea            int64
                  ...
MoSold             int64
YrSold             int64
SaleType          object
SaleCondition     object
SalePrice          int64
Length: 81, dtype: object

# Clerical Notes:

- I'm of the opinion that `print(df) or df.'column'.head()` looks infinetly more dog shit than `df or df[['column']].head()`. So I'm not even going to copy it. 

- There is a reason were using pandas dataframes and not the terminal output.

In [9]:
#from looking at the head() we can see that LotFrontage has some NaNs which are going to be troubling -->The below code shows us how many NaNs we have --> another neat trick of finding NaNs
lecture_df['LotFrontage'].value_counts(dropna=False)

#also not that we have a limited output --> of precisely 12 regardless of how many entries there are!

NaN      259
60.0     143
70.0      70
80.0      69
50.0      57
        ...
106.0      1
38.0       1
138.0      1
140.0      1
137.0      1
Name: LotFrontage, Length: 111, dtype: int64

# Methods of detecting NaNs 
---
- Using any of the following codes:
  - `df.isnull().sum()` 
  - `df.value_counts(dropna=False)`
  -
---
---
# Methods of cleaning up NaNs
---
- Using any of the following codes:
  - `df.dropna(inplace=True)`
  - 
----

In [14]:
#making features --> Essentially when a dataset is too large to generate figures easily of the whole thing -- it helps slicing it into smaller data tables to tabulate more relevant data faster. 
#Column: TotalBsmtSF, 1stFlrSF, 2ndFlrSF, SalePrice, OverallQual, OverallCond, YearBuilt

sub1_df = lecture_df[['TotalBsmtSF', '1stFlrSF', '2ndFlrSF', 'OverallQual', 'OverallCond', 'YearBuilt', 'SalePrice']].copy()
sub1_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  ...  OverallCond  YearBuilt  SalePrice
0          856       856       854  ...            5       2003     208500
1         1262      1262         0  ...            8       1976     181500
2          920       920       866  ...            5       2001     223500
3          756       961       756  ...            5       1915     140000
4         1145      1145      1053  ...            5       2000     250000

[5 rows x 7 columns]

In [16]:
#making a new column to visualize the total square footage from the lecture dataset --> this invovles summing Basement + 1st Floor + 2nd Floor square footage. 

sub1_df['TotalSquareFootage'] = sub1_df['TotalBsmtSF'] + sub1_df['1stFlrSF'] + sub1_df['2ndFlrSF']
sub1_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  ...  YearBuilt  SalePrice  TotalSquareFootage
0          856       856       854  ...       2003     208500                2566
1         1262      1262         0  ...       1976     181500                2524
2          920       920       866  ...       2001     223500                2706
3          756       961       756  ...       1915     140000                2473
4         1145      1145      1053  ...       2000     250000                3343

[5 rows x 8 columns]

In [17]:
#doing further analysis on the code --> generating a Price / Squarefoot. 

sub1_df['PricePerSqFt'] = sub1_df['SalePrice'] / sub1_df['TotalSquareFootage']
sub1_df.head()

   TotalBsmtSF  1stFlrSF  2ndFlrSF  ...  SalePrice  TotalSquareFootage  PricePerSqFt
0          856       856       854  ...     208500                2566     81.254871
1         1262      1262         0  ...     181500                2524     71.909667
2          920       920       866  ...     223500                2706     82.594235
3          756       961       756  ...     140000                2473     56.611403
4         1145      1145      1053  ...     250000                3343     74.783129

[5 rows x 9 columns]

# Notes on crosstabs: Substitution of copying code pointlessly.  

- The lecture goes into generating some crosstabs using categorical data and at this point looking at that data dictonary seems stupid. So here's a high level summary on how to do crosstabs. 
   - `pd.crosstab(df['column1'], df['column2']) ` --> this the code to simply make a cross tab. 
   - `pd.crosstab(df['column1'], df['column2'], margins=True)` --> `margins=True` adds column and row totals. 
   - `pd.crosstab(df['column1'], df['column2'], margins=True, normalize='index')` --> `normalize='index'` changes the tabulation of values from counts to porportions of counts.

LotShape  IR1  IR2  IR3  Reg
Alley
Grvl        4    0    1   45
Pave        7    2    0   32

# Stretch Goals

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01